.upload-wrapper {
  width: 50%;
    margin: 30vh auto 0 auto;
    border-radius: 3px;
}

.upload-header {
    position: relative;
    border-radius: 3px 3px 0 0;
    padding: 20px 40px;
    background: linear-gradient(to right, #732b69, #720437);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: #ffffff;
    z-index: 2;

    .upload-icon {
        margin-right: 5px;
    }

    .load {
        font-weight: 300;
    }
}

.upload-body {
    padding: 15px;
    background: #ffffff;
    text-align: center;
}
