.progress {
	background-color: #e5e9eb;
	height: 0.25em;
	position: relative;
	width: 100%;
}

.progress-bar {
	//background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  background: linear-gradient(to right, #732b69, #720437);
	background-size: 100% 0.25em;
	height: 100%;
	position: relative;
	transition: width 100ms ease-in-out;
}
